// Font-family
$heading: "Josefin Sans", sans-serif;
$body: "Open Sans", sans-serif;

// Title Color
$title-color: #212538;

// Essential Colors
$base-color: #276bff;
$accent-color: #120f29;

$body-color: rgb(77, 70, 70);
$border-color: rgba(14, 14, 14, 0.1);

$section-bg: #f6f8fa;
$body-bg: #fff;

$white: #fff;

$theme-one: #ff3653;
$theme-two: #18d39e;
$theme-three: #0c93d2;
$theme-four: #f6a200;
$theme-five: #09389e;

// color variable for Bootstrap
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #a0a0a0;
