// Font-family
$heading: 'Josefin Sans', sans-serif;
$body:  'Open Sans', sans-serif;

//Description line height
$lh-p: 1.7;
$lh-h: 1.3;
$fs-base: 16px;

// Title Color
$title-color: rgb(33, 37, 56);

// Essential Colors
$base-color: #276bff;
 
$primary-color: #120f29;
$secondary-color: #78818A;

$body-color : rgb(77, 70, 70);
$border-color: rgba(14, 14, 14, 0.1);

$section-bg : #f6f8fa;
$body-bg : #fff;

$white : #fff;

$theme-one: #FF3653;
$theme-two: #18D39E;
$theme-three: #0C93D2;
$theme-four: #F6A200;
$theme-five: #09389E;

// color variable for Bootstrap
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #a0a0a0;

