html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: $body-color;
    line-height: 1.6;
    font-family: $body;
    background: $body-bg;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // min-height: 100vh;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $body-color;
    @extend %transition;
    &:hover {
        color: $base-color;
    }
}
span,
sub,
sup,
a {
    display: inline-block;
}
