
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    line-height: $lh-h;
    color: $title-color;
    font-family: $heading;
    word-break: break-word;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: $title-color;
    word-break: break-word;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: rem(32px);
}

h3 {
  font-size: rem(28px);
}
h4 {
  font-size: rem(24px);
}
h5 {
  font-size: rem(20px);
}
h6 {
  font-size: rem(18px);
}

.fw-medium {
  font-weight: 600 !important;
}