.btn,
.cmn--btn {
    padding: 11px 35px;
    font-size: 16px;
    font-weight: 500;
    outline: none !important;
    @extend %transition;
    border-radius: 5px;
    z-index: 1;
    &.btn--lg {
        padding: 12px 35px !important;
        font-size: 18px;
        @include breakpoint(max-lg) {
            font-size: 16px;
        }
    }
    &.btn--md {
        padding: 10px 25px !important;
        font-size: 15px;
    }
    &.btn--sm {
        padding: 5px 15px !important;
        font-size: 14px;
    }
    &.btn--xs {
        padding: 0px 10px !important;
        font-size: 13px;
    }
}

$colors: "primary" $primary, "secondary" $secondary, "success" $success,
    "danger" $danger, "warning" $warning, "info" $info, "light" $light,
    "dark" $dark, "base" $base-color;

@each $name, $color in $colors {
    .btn--#{$name} {
        background-color: $color;
        border: 1px solid $color;
        color: $white;
    }
}
